@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: none;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgb(2 132 199);
}
